*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  position: relative;
}

body {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  font-family: Raleway, Roboto, Montserrat, sans-serif;
  overflow-x: hidden;
}

.main {
  color: #184AE4;
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.blue {
  color: #184AE4;
}

.red {
  color: #FF0000;
}

p {
  margin: auto;
  line-height: 1.3rem;
}

a {
  text-decoration: none;
  color: black;
}

.uppercase {
  text-transform: uppercase;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

abbr {
  text-decoration: none;
}

header {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}
header #mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 80%;
  display: flex;
  align-items: center;
}
header #mainNav a {
  margin-left: 15%;
  margin-right: 20%;
}
header #mainNav a img {
  height: 5rem;
}
header #mainNav #donateMobile {
  font-size: 1em;
  color: white;
  background-color: #184AE4;
  border-radius: 20px;
  padding: 0.8rem;
  border: 1px solid black;
  margin-right: 5%;
}
header #mainNav label {
  cursor: pointer;
  margin-right: 10%;
  font-size: 1.5rem;
}
header #mainNav input {
  display: none;
}
header #mainNav input:checked ~ #burgerNav {
  visibility: visible;
  right: 0;
}
header #mainNav #burgerNav {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  display: block;
  visibility: hidden;
  position: absolute;
  right: -50%;
  top: 8rem;
  background-color: white;
  text-align: center;
  width: 50%;
  transition: 1s;
  z-index: 1;
}
header #mainNav #burgerNav ul {
  margin: 1.3333333333rem 0 0;
}
header #mainNav #burgerNav ul li {
  padding-bottom: 1.3333333333rem;
  border-bottom: 1px solid #184AE4;
  width: 80%;
  margin: 1.333333333rem auto;
}
header #mainNav #burgerNav ul .navContact {
  border-bottom: none;
  padding: 0;
}
header .onlyScreen {
  display: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
header .onlyScreen a {
  margin-right: 20%;
}
header .onlyScreen a img {
  height: 5rem;
}
header .onlyScreen ul {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header .onlyScreen #donateScreen {
  font-size: 1em;
  background-color: #184AE4;
  border-radius: 20px;
  padding: 0.8rem;
  border: 1px solid black;
  margin-right: 5%;
}
header .onlyScreen #donateScreen a {
  color: white;
  padding: 0.7rem 0;
}
@media (min-width: 1000px) {
  header #mainNav {
    display: none;
  }
  header .onlyScreen {
    display: flex;
    justify-content: right;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  margin: 4rem auto 5rem;
}
.intro p {
  width: 60%;
  margin-bottom: 2.6666666rem;
  font-size: 0.8rem;
}
.intro b {
  font-weight: 700;
  display: block;
  margin-bottom: 2rem;
}
.intro img {
  width: 70%;
  margin: auto;
  height: 70%;
  border-radius: 15px;
}

@media (min-width: 1000px) {
  .intro {
    margin: 6rem auto 5rem;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: space-between;
  }
  .intro p {
    margin: 0;
    width: 40%;
  }
  .intro img {
    width: 50%;
    margin: 0;
  }
}
.sections {
  margin-bottom: 4rem;
  text-align: center;
}
.sections h2 {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 auto 2.6666666rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 80%;
}

@media (min-width: 1000px) {
  .sections {
    text-align: left;
    margin-bottom: 5rem;
  }
  .sections h2 {
    width: 22%;
    font-size: 1.6rem;
    margin: 0 0 4rem 10%;
  }
}
.timeline {
  position: relative;
  margin: auto auto 5rem;
  width: 80%;
}
.timeline:after {
  content: "";
  position: absolute;
  width: 1%;
  height: 100%;
  background-color: #184ae4;
  top: 0;
  left: 2.8%;
  margin-left: -0.5%;
  z-index: 1;
}

.timeline_container {
  position: relative;
  margin-left: 20%;
  width: 80%;
  padding-bottom: 2.6666666rem;
}
.timeline_container svg {
  width: 7%;
  position: absolute;
  left: -25%;
  top: 30%;
  z-index: 10;
}

.text-box {
  text-align: center;
  position: relative;
  padding: 1.2rem 5%;
  box-shadow: 0 0 20px 0 rgba(24, 78, 228, 0.4);
}
.text-box h4 {
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.text-box p {
  font-size: 0.6rem;
}
.text-box .left-container-arrow, .text-box .right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 35%;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
  right: 100%;
}

.last_timeline_container {
  padding-bottom: 0;
}

@media (min-width: 1000px) {
  .timeline {
    margin-bottom: 5rem;
  }
  .timeline:after {
    left: 50%;
    margin-left: -0.5%;
  }
  .timeline svg {
    width: 4%;
    left: 37.5%;
    transform: translateX(-50%);
  }
  .timeline .text-box {
    width: 45%;
  }
  .timeline .text-box:after {
    content: none;
  }
  .timeline .leftBox {
    margin-left: -25%;
  }
  .timeline .rightBox {
    margin-left: 55%;
  }
  .right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    bottom: 3rem;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    right: 100%;
  }
  .left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 40%;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    left: 100%;
  }
}
#missions {
  margin-top: 4rem;
  text-align: left;
}
#missions h2 {
  margin-bottom: 0;
  font-weight: 400;
  margin-left: 20%;
}
#missions p {
  width: 60%;
  margin-bottom: 1.3333rem;
  text-align: left;
  font-size: 0.8rem;
}
#missions img {
  width: 70%;
  height: 12rem;
  margin: auto 15%;
  border-radius: 15px;
  object-fit: cover;
}

@media (min-width: 1000px) {
  #missions {
    margin-top: 6rem;
  }
  #missions h2 {
    margin-left: 10%;
  }
  #missions div {
    margin: auto;
    display: flex;
    align-items: center;
    width: 80%;
  }
  #missions p {
    text-align: left;
    width: 50%;
    margin: 0 10% 0 0;
  }
  #missions img {
    width: 70%;
    height: 15rem;
    margin: auto;
  }
}
#staff ul {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#staff ul li .staffPicture {
  width: 75%;
  object-fit: contain;
}
#staff ul li .staff-name {
  margin: 0.75rem auto;
  text-align: center;
  font-size: 0.7rem;
  width: 100%;
  font-weight: 700;
  color: #184AE4;
}
#staff ul li p {
  font-size: 0.7rem;
  width: 80%;
  margin-bottom: 2.6666rem;
}
#staff .slider-wrapper {
  position: relative;
}
#staff .slider {
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow: hidden;
}
#staff .slider li {
  display: flex;
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
#staff .slider-nav {
  display: flex;
  column-gap: 1.5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#staff .slider-nav a {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #A3A3A3;
}
#staff .slider-nav a:hover {
  background-color: black;
}
#staff .staff-desktop {
  display: none;
}

@media (min-width: 1000px) {
  #staff .staff-desktop {
    display: block;
  }
  #staff .staff-mobile {
    display: none;
  }
  #staff ul {
    width: 80%;
    margin: auto;
  }
  #staff ul li {
    text-align: center;
  }
  #staff ul li .staffPicture {
    width: 60%;
    object-fit: contain;
  }
}
#faq {
  width: 80%;
  margin: auto auto 2.6666rem;
}
#faq .faq-container div {
  margin: 0 auto;
  border-bottom: 1px solid #184AE4;
  position: relative;
}
#faq .faq-container div label {
  font-size: 0.8rem;
  cursor: pointer;
  padding: 1rem 0;
  display: block;
  text-align: left;
  width: 100%;
}
#faq .faq-container div label:after {
  content: "^";
  color: #184AE4;
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  top: 30%;
  right: 0;
  rotate: 180deg;
}
#faq .faq-container div input {
  display: none;
}
#faq .faq-container div :checked ~ .responses {
  display: block;
}
#faq .faq-container div .responses {
  display: none;
  text-align: left;
  font-size: 0.7rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 1000px) {
  #faq {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.6666rem;
  }
  #faq h2 {
    margin-left: 0;
    width: 40%;
  }
  #faq .faq-container {
    width: 50%;
  }
  #faq .faq-container div {
    width: 80%;
  }
  #faq .faq-container div label {
    padding: 1.5rem 0;
  }
  #faq .faq-container div .responses {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }
}
footer {
  background-color: #313131;
  color: white;
}
footer a {
  color: white;
  font-size: 0.6rem;
}
footer .footer-information {
  display: flex;
  width: 90%;
  margin-left: 5%;
  padding-top: 1.333rem;
  margin-bottom: 2.6666rem;
  justify-content: space-between;
}
footer .footer-information li {
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
footer .footer-information #footerCoords {
  text-align: end;
}
footer small {
  display: block;
  font-size: 0.5rem;
  padding-bottom: 3rem;
  text-align: center;
}
footer small a {
  font-size: 0.5rem;
  text-decoration: underline;
}

@media (min-width: 1000px) {
  footer {
    position: relative;
  }
  footer a {
    font-size: 0.8rem;
  }
  footer a:hover {
    text-decoration: underline;
  }
  footer .footer-information {
    margin: auto auto 2rem;
    padding-top: 4rem;
  }
  footer .footer-information li {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  footer small {
    font-size: 0.8rem;
  }
  footer small a {
    font-size: 0.8rem;
  }
}
.intro_stores {
  margin: 4rem auto 5rem;
  position: relative;
}
.intro_stores p {
  width: 60%;
}
.intro_stores img {
  width: 30%;
  height: 6rem;
  position: absolute;
}
.intro_stores #clothe {
  top: 28rem;
  left: 25%;
}
.intro_stores #book {
  top: 30rem;
  left: 45%;
}
.intro_stores #furniture {
  top: 33rem;
  left: 28%;
}

#stores {
  margin-top: 18rem;
}
#stores article {
  width: 80%;
  margin: 0 auto 1.333rem;
  text-align: center;
  background-color: #F4F3F3;
}
#stores article img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0 0 1.333rem 0;
}
#stores article h3 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 2.66666rem;
}
#stores article p {
  width: 80%;
  text-align: left;
  margin-bottom: 2.6666rem;
}
#stores article .store-address {
  text-align: center;
  padding-bottom: 1.3333rem;
  font-style: italic;
}

#table table {
  font-size: 0.6rem;
  width: 80%;
  margin: auto;
}
#table table tr, #table table td, #table table th {
  text-align: center;
  border: 1px solid black;
  padding: 3%;
  font-weight: 700;
}
#table table td {
  color: #184AE4;
  font-size: 0.5rem;
}
#table table .day {
  display: block;
  border: none;
}
#table table .infoSup {
  font-size: 0.8rem;
}
#table small {
  font-size: 0.5rem;
  margin: 0.75rem auto auto;
  display: block;
  text-align: center;
  width: 100%;
}

@media (min-width: 1000px) {
  .intro_stores {
    margin-top: 6rem;
  }
  .intro_stores p {
    width: 30%;
    margin: auto 0 auto 20%;
    padding-top: 1.5rem;
  }
  .intro_stores img {
    width: 10%;
    height: 7rem;
  }
  .intro_stores #clothe {
    top: 3rem;
    left: 60%;
  }
  .intro_stores #book {
    top: 6rem;
    left: 68%;
  }
  .intro_stores #furniture {
    top: 9.5rem;
    left: 63%;
  }
  #stores {
    margin-top: 8rem;
  }
  #stores div {
    display: flex;
    width: 80%;
    margin: auto;
  }
  #stores div article {
    width: 30%;
  }
  #stores div article h3 {
    margin-bottom: 2.6666rem;
  }
  #stores div article img {
    height: 39%;
  }
  #stores div article p {
    width: 80%;
    margin: 0 auto 2.6666rem;
  }
  #stores div article .store-address {
    margin-bottom: 1.3333rem;
  }
  #table table {
    font-size: 1.2rem;
  }
  #table table td, #table table .infoSup {
    font-size: 1rem;
  }
  #table small {
    font-size: 0.8rem;
    margin: 1rem auto;
    text-align: center;
    display: block;
  }
}
#houses article {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto auto 2.6666rem;
}
#houses article .houses-description {
  text-align: left;
  font-size: 0.8rem;
  margin-bottom: 1.333rem;
}
#houses article .houses-address {
  margin: 0 0 1.333rem 0;
  font-weight: 700;
  font-size: 1rem;
  text-align: left;
}
#houses article img {
  width: 60%;
  height: 15rem;
  margin: auto;
  border-radius: 15px;
}
#houses .secondHouse {
  flex-direction: column-reverse;
}
#houses ul {
  list-style: disc;
  margin-left: 15%;
  margin-bottom: 2.666rem;
}
#houses ul ::marker {
  color: #184AE4;
  font-size: 1rem;
}
#houses ul li {
  font-size: 0.8rem;
  text-align: left;
}

@media (min-width: 1000px) {
  #houses article {
    flex-direction: row;
    margin: auto auto 4rem;
    align-items: center;
  }
  #houses article div {
    width: 52%;
    margin-right: 5%;
  }
  #houses article img {
    width: 60%;
    height: 100%;
  }
  #houses .secondHouse {
    display: flex;
    flex-direction: row;
  }
  #houses .secondHouse div {
    margin-left: 5%;
  }
}
#help article {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}
#help article ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.3333rem;
}
#help article ul li {
  width: 60%;
}
#help article ul li p {
  text-align: center;
  padding: 2rem 5%;
  margin: auto;
  font-weight: 700;
}
#help article ul #first {
  background-color: #6488F7;
  margin-right: 5%;
}
#help article ul #second {
  background-color: #79B8E9;
  padding-top: 1rem;
}
#help article ul #third {
  background-color: #B0C2F8;
  margin-right: 5%;
}
#help article ul #fourth {
  background-color: #7991DA;
}

.donateCategory {
  width: 60%;
  margin: auto;
}
.donateCategory div {
  border: 1.5px solid #184AE4;
  border-radius: 20px;
  display: flex;
  margin-bottom: 1.3333rem;
  position: relative;
}
.donateCategory div a {
  padding: 0.75rem 65% 0.75rem 5%;
}
.donateCategory div a:hover ~ .icon {
  right: 20%;
  transition: 0.5s;
}
.donateCategory div .icon {
  position: absolute;
  top: 0.4rem;
  right: 10%;
  font-size: 1.3rem;
  transition: 0.5s;
}

#volunteer div, #store div {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}
#volunteer div p, #store div p {
  width: 80%;
  text-align: center;
  margin-bottom: 1.333333rem;
}
#volunteer div img, #store div img {
  width: 80%;
  height: 10rem;
  margin: auto;
  border-radius: 15px;
  object-fit: cover;
}
#volunteer .redirectToStore, #store .redirectToStore {
  font-size: 1rem;
  font-weight: 700;
  margin: 2.6666rem auto;
}
#volunteer .redirectToStore a, #store .redirectToStore a {
  color: #184AE4;
  border-bottom: 2px solid #184AE4;
  margin: auto;
  padding: 2%;
}

@media (min-width: 1000px) {
  #donateImg {
    height: 18rem;
  }
  #help article {
    flex-direction: row;
  }
  #help article ul li p {
    padding: 3rem;
  }
  #help .firstUl {
    margin-right: 2.5%;
  }
  .donateCategory {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .donateCategory div {
    width: 45%;
  }
  .donateCategory div a {
    padding: 0.75rem 78% 0.75rem 5%;
  }
  #volunteer div, #store div {
    flex-direction: row;
    align-items: center;
  }
  #volunteer div p, #store div p {
    margin: 0 5% 0 0;
  }
  #volunteer div img, #store div img {
    height: 18rem;
  }
  #volunteer .redirectToStore, #store .redirectToStore {
    font-size: 1.3rem;
    transition: 0.1s;
  }
  #volunteer .redirectToStore a:hover, #store .redirectToStore a:hover {
    border: 2px solid #184AE4;
    transition: 0.1s;
  }
}
.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 2.6666rem auto;
}
.form #contactInfo {
  font-weight: 700;
  margin-bottom: 2.6666rem;
}
.form #contactInfo h3 {
  margin-bottom: 1.333rem;
  text-align: center;
  font-size: 1.3rem;
}
.form #contactInfo p {
  font-size: 0.8rem;
  width: 100%;
  margin-bottom: 0.75rem;
  text-align: center;
}
.form #contactInfo iframe {
  width: 80%;
  height: 18rem;
  margin: 1.333rem 10% 0;
}

.contactForm, .coords, .card {
  border: 1.5px solid #184AE4;
}
.contactForm form div, .coords form div, .card form div {
  position: relative;
  width: 80%;
}
.contactForm form input, .contactForm form textarea, .contactForm form select, .coords form input, .coords form textarea, .coords form select, .card form input, .card form textarea, .card form select {
  margin: auto;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  width: 100%;
  padding: 0.7rem 5%;
  color: #184AE4;
}
.contactForm form label, .coords form label, .card form label {
  position: absolute;
  top: -0.5rem;
  left: 10%;
  background-color: white;
  padding: 0 3%;
  color: #184AE4;
  font-weight: 700;
}
.contactForm #button, .coords #button, .card #button {
  text-align: center;
  margin-bottom: 1.333rem;
}
.contactForm #button button, .coords #button button, .card #button button {
  background-color: #184AE4;
  border: 1px solid #184AE4;
  color: white;
  border-radius: 25px;
  padding: 0.6rem 10%;
  cursor: pointer;
  transition: 0.5s;
}
.contactForm #button button:hover, .coords #button button:hover, .card #button button:hover {
  background-color: white;
  color: #184AE4;
  transition: 0.5s;
}

.contactForm {
  border-radius: 50px;
}

form div {
  margin: 1.3333rem auto 2.6666rem;
}

@media (min-width: 1000px) {
  .form {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 6rem;
  }
  .form .contactForm {
    width: 40%;
  }
  .form #contactInfo {
    width: 40%;
    margin-bottom: 0;
  }
}
.donateForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 4rem auto;
  text-align: center;
}
.donateForm .rising {
  margin-bottom: 1.3333rem;
  border: 1.5px solid #184AE4;
  border-radius: 20px;
}
.donateForm .category {
  display: flex;
  justify-content: space-evenly;
  margin: 0.75rem auto;
  width: 100%;
}

input[type=radio], input[type=checkbox] {
  display: none;
}

.radio {
  color: #184AE4;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border: 1.5px solid black;
  padding: 1em 2em;
  border-radius: 0.5em;
}

input[type=radio]:checked + label {
  background-color: #184AE4;
  color: #ffffff;
  font-weight: 700;
}

input[type=checkbox] + label {
  border: 1.5px solid black;
  padding: 1em 2em;
  color: #184AE4;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

input[type=checkbox][data-selected=true] + label {
  background-color: #184AE4;
  color: #ffffff;
  font-weight: 700;
}

.rise {
  display: flex;
  justify-content: space-evenly;
  margin: 1.3333rem 0;
}
.rise label {
  border: 1.5px solid black;
  padding: 1em 2em;
  color: #184AE4;
  border-radius: 10px;
}
.rise input[type=checkbox]:checked + label {
  background-color: #184AE4;
  color: #ffffff;
  font-weight: 700;
}

.otherRise_container {
  text-align: center;
  margin-bottom: 0.75rem;
}

#otherRise {
  margin: auto;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  width: 80%;
  padding: 0.7rem 5%;
  color: #184AE4;
}

.coords, .card {
  border-radius: 20px;
  margin-bottom: 1.3333rem;
  text-align: center;
}
.coords div, .card div {
  position: relative;
}
.coords div input, .coords div select, .card div input, .card div select {
  margin: auto;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  width: 80%;
  padding: 0.7rem 5%;
  color: #184AE4;
}
.coords div label, .card div label {
  position: absolute;
  top: -0.5rem;
  left: 18%;
  background-color: white;
  padding: 0 3%;
  color: #184AE4;
  font-weight: 700;
}

.last_coords_input {
  margin-bottom: 0.75rem;
}

button {
  background-color: #184AE4;
  border: 1px solid #184AE4;
  color: white;
  border-radius: 25px;
  padding: 0.6rem 10%;
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  background-color: white;
  color: #184AE4;
  transition: 0.5s;
}

@media (min-width: 1000px) {
  .donateForm {
    margin-top: 6rem;
  }
  .donateForm .form-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .donateForm .form-wrapper fieldset {
    width: 30%;
  }
  .donateForm .form-wrapper fieldset div {
    justify-content: space-between;
    display: flex;
    margin: 2.6666rem auto;
  }
  .donateForm .form-wrapper fieldset .rise, .donateForm .form-wrapper fieldset .category {
    justify-content: space-evenly;
  }
  .donateForm .form-wrapper .moneyButton {
    margin-top: 3rem;
  }
  .donateForm .form-wrapper .moneyButton button {
    font-size: 1.5rem;
    padding: 1rem 8%;
  }
}
#gallery {
  width: 80%;
  margin: auto auto 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
#gallery h2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0 auto;
}
#gallery #gallery-one {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  object-fit: cover;
  width: 100%;
}
#gallery #gallery-two {
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
#gallery #gallery-three {
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}
#gallery #gallery-four {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
  object-fit: cover;
  width: 100%;
}
#gallery #gallery-five {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  object-fit: cover;
  width: 100%;
}

@media (min-width: 1000px) {
  #gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  #gallery h2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 0;
    width: 80%;
  }
  #gallery #gallery-one {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #gallery #gallery-two {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  #gallery #gallery-three {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  #gallery #gallery-four {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 150%;
    margin-top: -15.4rem;
  }
  #gallery #gallery-five {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
.transition {
  background-color: #184AE4;
  color: white;
  text-align: center;
  padding: 2.6666rem 0;
  margin-bottom: 4.6666rem;
}
.transition h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3rem;
  width: 90%;
  margin: auto;
  line-height: 1.5rem;
}
.transition ul {
  display: flex;
  justify-content: space-between;
  margin: 1.3333rem auto 0;
  text-align: center;
  width: 60%;
}
.transition ul .transition-button {
  font-size: 1em;
  background-color: black;
  border-radius: 20px;
  padding: 0.8rem;
  transition: 0.5s;
}
.transition ul .transition-button:hover {
  background-color: white;
  transition: 0.5s;
}
.transition ul .transition-button a {
  color: white;
  padding: 0.8rem 0;
  transition: 0.5s;
}
.transition ul .transition-button a:hover {
  color: black;
  transition: 0.5s;
}

@media (min-width: 1000px) {
  .transition {
    display: flex;
    padding: 2.6666rem 0 1.333rem;
    margin-bottom: 4.6666rem;
  }
  .transition h2 {
    font-size: 1.3rem;
    width: 55%;
    line-height: 1.5rem;
  }
  .transition ul {
    margin: 1.3333rem auto;
    width: 20%;
  }
}
#actualities {
  width: 80%;
  margin: auto;
}
#actualities article {
  margin-bottom: 2.6666rem;
}
#actualities article h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  padding: 1.3333rem 0;
  text-align: center;
}
#actualities #mezzanine article {
  background-color: #736E6A;
}
#actualities #mezzanine article img {
  object-fit: cover;
  width: 100%;
}
#actualities #mezzanine article h3 {
  color: white;
}
#actualities #walks article {
  background-color: #6488F7;
}
#actualities #walks article img {
  object-fit: cover;
  width: 100%;
}
#actualities #new-house article {
  background-color: #79B8E9;
}
#actualities #new-house article img {
  object-fit: cover;
  width: 100%;
}
#actualities #renovation article {
  background-color: #B0C2F8;
}
#actualities #renovation article img {
  object-fit: cover;
  width: 100%;
}
#actualities #moving article {
  background-color: #7991DA;
}
#actualities #moving article img {
  object-fit: cover;
  width: 100%;
}

@media (min-width: 1000px) {
  #actualities h2 {
    margin-left: 0;
  }
  #actualities ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin: auto auto 4.6666rem;
  }
  #actualities ul article {
    margin-bottom: 0;
  }
  #actualities #mezzanine {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #actualities #mezzanine article img {
    height: 11.7rem;
  }
  #actualities #walks {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #actualities #walks article img {
    height: 11.7rem;
  }
  #actualities #new-house {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #actualities #new-house article img {
    height: 11.7rem;
  }
  #actualities #renovation {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #actualities #renovation article img {
    height: 11.7rem;
  }
  #actualities #moving {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #actualities #moving article img {
    height: 11.7rem;
  }
}

/*# sourceMappingURL=style.css.map */
