#faq {
  width: 80%;
  margin: auto auto 2.6666rem;

  .faq-container {
    div {
      margin: 0 auto;
      border-bottom: 1px solid #184AE4;
      position: relative;

      label {
        font-size: 0.8rem;
        cursor: pointer;
        padding: 1rem 0;
        display: block;
        text-align: left;
        width: 100%;

        &:after {
          content: "^";
          color: #184AE4;
          font-size: 1rem;
          font-weight: 500;
          position: absolute;
          top: 30%;
          right: 0;
          rotate: 180deg;
        }
      }

      input {
        display: none;
      }

      :checked ~ .responses {
        display: block;
      }

      .responses {
        display: none;
        text-align: left;
        font-size: 0.7rem;
        margin-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }
  }
}

@media (min-width: 1000px) {
  #faq {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.6666rem;
    h2 {
      margin-left: 0;
      width: 40%;
    }
    .faq-container {
      width: 50%;
      div {
        width: 80%;

        label {
          padding: 1.5rem 0;
        }

        .responses {
          text-align: center;
          margin-bottom: 0.5rem;
          font-size: 0.8rem;
        }
      }
    }
  }
}