.intro_stores {
  margin: 4rem auto 5rem;
  position: relative;

  p {
    width: 60%;
  }

  img {
    width: 30%;
    height: 6rem;
    position: absolute;
  }

  #clothe {
    top: 28rem;
    left: 25%;
  }

  #book {
    top: 30rem;
    left: 45%;
  }

  #furniture {
    top: 33rem;
    left: 28%;
  }
}

#stores {
  margin-top: 18rem;

  article {
    width: 80%;
    margin: 0 auto 1.333rem;
    text-align: center;
    background-color: #F4F3F3;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin: 0 0 1.333rem 0;
    }

    h3 {
      font-size: 1.1rem;
      font-weight: 700;
      margin-bottom: 2.66666rem;
    }

    p {
      width: 80%;
      text-align: left;
      margin-bottom: 2.6666rem;
    }

    .store-address {
      text-align: center;
      padding-bottom: 1.3333rem;
      font-style: italic;
    }
  }
}

#table {
  table {
    font-size: 0.6rem;
    width: 80%;
    margin: auto;

    tr, td, th {
      text-align: center;
      border: 1px solid black;
      padding: 3%;
      font-weight: 700;

    }

    td {
      color: #184AE4;
      font-size: 0.5rem;
    }

    .day {
      display: block;
      border: none;
    }

    .infoSup {
      font-size: 0.8rem;
    }
  }

  small {
    font-size: 0.5rem;
    margin: 0.75rem auto auto;
    display: block;
    text-align: center;
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .intro_stores {
    p {
      width: 30%;
      margin: auto 0 auto 20%;
      padding-top: 1.5rem;
    }

    img {
      width: 10%;
      height: 7rem;
    }

    #clothe {
      top: 3rem;
      left: 60%;
    }

    #book {
      top: 6rem;
      left: 68%;
    }

    #furniture {
      top: 9.5rem;
      left: 63%;
    }
  }
  #stores {
    margin-top: 8rem;

    div {
      display: flex;
      width: 80%;
      margin: auto;

      article {
        width: 30%;

        h3{
          margin-bottom: 2.6666rem;
        }
        img {
          height: 39%;
        }

        p {
          width: 80%;
          margin: 0 auto 2.6666rem;
        }
        .store-address{
          margin-bottom: 1.3333rem;
        }
      }
    }
  }


  #table {
    table {
      font-size: 1.2rem;

      td, .infoSup {
        font-size: 1rem;
      }
    }

    small {
      font-size: 0.8rem;
      margin: 1rem auto;
      text-align: center;
      display: block;
    }
  }
}